<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.boro.black.entity.User"/>
        <mapping class="com.boro.black.entity.SecurityRole"/>
        <mapping class="com.boro.black.entity.crawler.Email"/>
        <mapping class="com.boro.black.entity.crawler.EmailUserTemplate"/>
        <mapping class="com.boro.black.entity.crawler.CrawlerUserConfig"/>
        <mapping class="com.boro.black.entity.crawler.Company"/>
        <mapping class="com.boro.black.entity.crawler.EmailType"/>
        <mapping class="com.boro.black.entity.crawler.EmailContext"/>
        <mapping class="com.boro.black.entity.crawler.SpiderTask"/>
        <mapping class="com.boro.black.entity.GismeteoData"/>
    </session-factory>
</hibernate-configuration>